.breadcrumbs {
    border: 1px solid #d8dce0;
    padding: 9px 20px;
    border-radius: 7px;
    box-shadow: 0 0 2px #d8dce0;
    margin-bottom: 7px;
    &__list {
        display: flex;
        list-style: none;
    }
    &__el {
        margin-right: 10px;
    }
    &__link {
        text-decoration: none;
        font-size: 16px;
        color: #a6a6a6;
    }
    &__separate {
        color: #a6a6a6;
    }
}