.breadcrumbs {
    border: 1px solid #d8dce0;
    padding: 9px 20px;
    border-radius: 7px;
    box-shadow: 0 0 2px #d8dce0;
    margin-bottom: 7px;
    &__list {
        display: flex;
        list-style: none;
    }
    &__el {
        margin-right: 10px;
        &:last-child a {
            pointer-events: none;
            cursor: default;
        }
    }
    &__link {
        text-decoration: none;
        font-size: 16px;
        color: #a6a6a6;
        &:hover {
            color: rgba(121, 178, 96, 0.8);
            transition-duration: 0.15s;
        }
        &:active {
            color: rgba(121, 178, 96, 1);
            transition-duration: 0.1s;
        }
    }
    &__separate {
        color: #a6a6a6;
    }
}