.info-panel {
    background-color: #fafafa;
    &__inner {
        display: flex;
        align-items: center;
        padding: 20px 0;
        @media (max-width: 1020px) {
            flex-wrap: wrap;
        }  
    }
    &__logo {
        margin-right: 45px;
    }
}