.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
  z-index: 10;
  transform: scale(0);
  transform-origin: 0 0;
  transition: 0.14s;
  &--active {
    transform: scale(1);
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.2s;
  }
  &__sign-in,
  &__sign-up,
  &__forgot-pass {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #fff;
    width: 350px;
    border: 2px solid #d5d2d2;
    border-radius: 7px;
    transform: translate(-50%, -300%);
    transition-duration: 0.4s;
    &--active {
      display: block;
      transform: translate(-50%, -50%);
      animation: modalFall .65s ease-in-out;
    }
    &--disappear {
      display: block;
      transform: scale(0);
      transform-origin: 100% 0;
      position: fixed;
      top: 50%;
      left: 200%;
      animation: modalDis .2s ease;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
  }
  &__title {
    align-self: center;
    margin-bottom: 20px;
  }
  &__input-login-to-in {
    margin-bottom: 20px;
  }
  &__input-pass-to-in {
    margin-bottom: 5px;
  }
  &__sign-in-links {
    display: flex;
    justify-content: space-between;
  }
  &__link {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: #79b360;
    margin-bottom: 20px;
    align-self: flex-start;
  }
  label {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 3px;
    align-self: flex-start;
  }
  input {
    padding: 7px 10px;
    border-radius: 4px;
    border: 1px solid #d5d2d2;
    box-shadow: inset 0 0 2px rgba(0,0,0,.2);
    width: 100%;
    &:focus {
      outline: none;
      border: 1px solid #79b360;
      filter: drop-shadow(0px 0px 1px #79b360);
    }
  }
  button {
    background: $green-gradient;
    border: 1px solid #79b360;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    &:hover {
      filter: drop-shadow(0px 0px 2px #79b360);
    }
    &:focus {
      outline: none;
    }
    &:active {
      box-shadow: inset 0 0 7px 6px #79b360;
      filter: drop-shadow(0 0 0);
    }
  }
  &__close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 22px;
    height: 22px;
    background: $green-gradient;
    border-radius: 100%;
    opacity: .7;
    &:hover {
      opacity: 1;
    }
    &:focus {
      outline: none;
      opacity: 1;
    }
    &:active {
      box-shadow: inset 0 0 1px 4px #79b360;
      opacity: 1;
    }
    &-el {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 3px;
      width: 12px;
      background-color: #fff;
      transform: translate(-50%, -50%) rotate(45deg);
      &:nth-child(2) {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}

@keyframes modalFall {
  0% {
    transform: translate(-50%, -300%);
  }
  35% {
    transform: translate(-50%, -45%);
  }
  45% {
    transform: translate(-50%, -55%);
  }
  55% {
    transform: translate(-50%, -45%);
  }
  65% {
    transform: translate(-50%, -53%);
  }
  75% {
    transform: translate(-50%, -47%);
  }
  85% {
    transform: translate(-50%, -52%);
  }
  95% {
    transform: translate(-50%, -48%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes modalDis {
  0% {
    transform: scale(1) translate(-50%, -50%);
  }
  10% {
    transform: scale(.9) translate(-50%, -50%);
  }
  20% {
    transform: scale(.8) translate(-50%, -50%);
  }
  30% {
    transform: scale(.7) translate(-50%, -50%);
  }
  40% {
    transform: scale(.6) translate(-50%, -50%);
  }
  50% {
    transform: scale(.5) translate(-50%, -50%);
  }
  60% {
    transform: scale(.4) translate(-50%, -50%);
  }
  70% {
    transform: scale(.3) translate(-50%, -50%);
  }
  80% {
    transform: scale(.2) translate(-50%, -50%);
  }
  90% {
    transform: scale(0.1) translate(-50%, -50%);
  }
  100% {
    transform: scale(0) translate(-50%, -50%);
  }
}