.nav {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    position: relative;
    z-index: 3;
    transition: box-shadow .3s ease;
    &--active {
        box-shadow: 0 4px 5px rgba(0,0,0,.18);
        transition: box-shadow .3s ease;
    }
    &__menu {
        list-style: none;
        display: flex;
        justify-content: space-between;
        @media (max-width: 768px) {
            position: absolute;
            left: 0;
            right: 0;
            top: calc(100% + 10px);
            z-index: 2;
            background-color: #fff;
            transform: scaleY(0);
            transform-origin: 0 0;
            flex-direction: column;
            transition-duration: .3s;
            box-shadow: 0 15px 16px rgba(0,0,0,.35);
            &--active {
                transform: scaleY(1);
                transition-duration: .3s;
            }
        }
    }
    &__el {
        flex: 1 auto;
        &:last-child ::after {
            content: none;
        }
    }
    &__link {
        display: block;
        text-decoration: none;
        color: #666666;
        padding: 13px 0 10px;
        font-size: 19px;
        text-align: center;
        position: relative;
        @media (max-width: 768px) {
            padding: 18px 0 13px;
        }
        &:hover {
            background-color: rgba(121, 178, 96, 0.2);
            transition-duration: 0.15s;
            @media (max-width: 768px) {
                background-color: #fff;
                color: rgba(121,178,96,.8);
            }
        }
        &:active {
            background-color: rgba(121, 178, 96, 0.5);
            transition-duration: 0.1s;
        }
        &--active {
            background: $green-gradient;
            cursor: default;
            color: #fff;
            &:hover {
                color: #fff !important;
            }
            &::after {
                content: none !important;
            }
        }
        @media (max-width: 768px) {
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 73%;
                height: 1px;
                background-color: #d6d6d6;
            }
            &:hover::after {
                background-color: rgba(121,178,96,.8);
            }
        }
           
    }
    &__burger {
        display: none;
        flex-direction: column;
        margin: 10px;
        height: 25px;
        justify-content: space-around;
        cursor: pointer;
        @media (max-width: 768px) {
            display: inline-flex;
        }
        &--active {
            align-items: center;
            & :nth-child(2) {
                display: none;
            }
            & :nth-child(1) {
                transform: rotate(45deg) translateY(9px);
                position: relative;
                left: 5px;
                transition-duration: .5s;
            }
            & :nth-child(3) {
                transform: rotate(-45deg) translateY(-9px);
                position: relative;
                left: 5px;
                transition-duration: .5s;
            }
        }
        &-el {
            width: 30px;
            height: 4px;
            background-color: #79b260;
            transition-duration: .5s;
            transition-delay: .05s;
        }
    }
}