.prod-reviews {
  padding: 20px 30px;
  border: 1px solid #d5d2d2;
  border-radius: 7px;
  color: #7e7e7e;
  flex: 1 auto;
  &__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  &__review {
    display: flex;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e3e3e3;
    &:last-child {
      border-bottom: none;
    }
  }
  &__avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    img {
      margin-bottom: 10px;
    }
  }
  &__text {
    font-size: 13px;
    line-height: 21px;
    padding-right: 20px;
  }
  &__form {
    font-size: 16px;
    line-height: 26px;
    display: flex;
    flex-direction: column;
    &-wrap {
      padding: 0 10px;
    }
    button {
      background: $green-gradient;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-weight: bold;
      color: #fff;
      align-self: flex-end;
      font-size: 19px;
      margin: 5px 0;
      &:hover {
            filter: brightness(97%);
        }
      &:active,
      &:focus {
          outline: none;
          box-shadow: inset 2px 3px 7px 0 rgba(0,0,0,.3);
          transition-duration: .23s;
      }
    }
  }
  &__input-wrapper {
    margin-bottom: 12px;
    display: flex;
    label {
      margin-right: 15px;
    }
    input,
    textarea {
      flex: 1 auto;
      padding: 7px 13px;
      border: 1px solid #e2e2e2;
      border-radius: 7px;
      resize: none;
      transition: .24s border;
      &:focus {
        outline: none;
        border-color: rgb(121, 178, 96);
        transition-duration: .17s;
      }
    }
  }

}