.prod-info {
  margin-bottom: 15px;
  &__tab {
    &-list {
      list-style: none;
      display: flex;
      width: 100%;
      align-items: flex-start;
    }
    &-el {
      margin-right: 10px;
    }
    &-link {
      display: block;
      font-size: 16px;
      background-color: #c2c2c2;
      border: 1px solid #d5d2d2;
      color: #fff;
      text-decoration: none;
      padding: 10px 20px;
      border-top-right-radius: 7px;
      border-top-left-radius: 7px;
      &--active {
        background-color: #fff;
        font-size: 18px;
        color: #7e7e7e;
        position: relative;
        top: -2px;
        border-bottom-color: #fff;
        z-index: 10;
      }
    }
  }
  &__text-body {
    display: none;
    padding: 20px 30px;
    font-size: 14px;
    line-height: 26px;
    color: #7e7e7e;
    border: 1px solid #d5d2d2;
    position: relative;
    top: -4px;
    border-radius: 7px;
    border-top-left-radius: 0;
    &--active {
      display: block;
    }
  }
}