.search {
    flex-grow: 1;
    display: flex;
    background-color: $green;
    border-radius: 5px;
    padding: 4px;
    @media (max-width: 768px) {
        flex-grow: 0;
        margin-left: auto;
        order: 3;
        font-size: 0;
        background-color: #fafafa;
    }
    &__filed {
        flex: 1 auto;
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        &:focus {
            outline: none;
        }
        &::-webkit-search-results-decoration,
        &::-webkit-search-decoration, 
        &::-webkit-search-cancel-button, 
        &::-webkit-search-results-button  {
            display: none;
        }
        &::placeholder {
            font-style: italic;
            font-size: 16px;
            color: #adadad;
        }
        @media (max-width: 768px) {
            transform: scaleX(0);
            transform-origin: 100% 0;
            display: none;
            transition-duration: 0.2s;
        }   
    }
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        min-width: 125px;
        font-size: 23px;
        color: #fff;
        background-color: $green;
        border: 4px solid $green;
        padding: 5px 10px;
        @media (max-width: 768px) {
            font-size: 0;
            min-width: auto;
            border: none;
            background-color: #fafafa;
            padding: 1px;
            margin-left: 20px;
        }
        &:focus {
            outline: none;
        }
        &:hover {
            text-decoration: underline;
        }
        svg {
            margin-right: 5px;
            @media (max-width: 768px) {
                margin-right: 0;
                &:hover {
                    filter: brightness(0.8);
                }
            }
            path {
                @media (max-width: 768px) {
                    fill: $green;
                }
            }

        }
    }
}