.sidebar {
    display: flex;
    flex-direction: column;
    width: 230px;
    border: 1px solid #d6d6d6;
    margin-right: 10px;
    padding-bottom: 50px;
    &__title {
        font-size: 24px;
        line-height: 30px;
        font-weight: normal;
        color: #6b6969;
        padding: 10px 20px;
    }
    &__link-all {
        padding: 10px 20px;
        text-decoration: none;
        font-size: 17px;
        font-weight: bold;
        text-transform: uppercase;
        color: #6b6969;
        
    }
    &__link-active {
        background: $green-gradient;
        cursor: default;
        color: #fff !important;
        &:hover {
            color: #555454 !important;
        }
        &::after {
            content: none !important;
        }
    }
    &__category-title {
        padding: 10px 20px;
        margin-bottom: 5px;
        font-size: 17px;
        font-weight: bold;
        color: #696969;   
    }
    &__category-link {
        display: block;
        padding: 10px 30px;
        // border-bottom: 1px solid #d6d6d6;
        text-decoration: none;
        color: #555454;
        position: relative;
        &:hover {
            color: rgba(121, 178, 96, 0.8);
            transition-duration: 0.15s;
        }
        &:active {
            color: rgba(121, 178, 96, 1);
            transition-duration: 0.1s;
        }
        &:last-child {
            border-bottom: none;
        }
        &:not(:last-child)::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 73%;
            height: 1px;
            background-color: #d6d6d6;
        }
    }
}