@import "fonts.scss";
@import "fonts.scss";
@import "variables.scss";
@import "variables.scss";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $main-font;
}

.container {
    width: 1270px;
    padding: 0 10px;
    margin: 0 auto;
}

main {
    padding: 15px 0 25px;
}

@import "user-panel.scss";
@import "info-panel.scss";
@import "search.scss";
@import "cart.scss";
@import "nav.scss";
@import "sales.scss";
@import "production.scss";
@import "sidebar.scss";