.user-panel {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #424242;
    z-index: 10;
    height: auto;
    transition: .3s linear;
    overflow: auto;
    transform-origin: 0 0;
    &--disappear {
        transform: scaleY(0);
        transition: .3s ease;
        transform-origin: 0 0;
    }
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: flex-end;
    }
    &__el {
        margin: 0 10px;
    }
    &__link {
        display: block;
        padding: 8px 5px;
        color: #ffffff;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}